@use "../base/variables" as v;

.m-product-card {
  width: 600px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  background-color: v.$pure-white;
  border-radius: 0.625rem;

  /* ========== img ========== */
  &__img-container {
    height: 100%;
    background-color: red;
  }
  &__img {
    height: 100%;
  }

  /* ========== description ========== */
  &__description-container {
    height: 100%;
    padding: 2rem;

    background-color: v.$pure-white;
  }
  &__subheading {
    font-size: 0.75rem;
    letter-spacing: 5px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: v.$font-secundary;
    color: v.$aurometal-saurus;
  }
  &__title {
    text-transform: capitalize;
    line-height: 1;
    font-size: 2rem;
    text-wrap: balance;
  }
  &__txt {
    font-family: v.$font-secundary;
    color: v.$aurometal-saurus;
    line-height: 1.4375rem;
  }

  /* ========== price ========== */
  &__price-container {
    display: flex;
    align-items: center;
  }
  &__discount-price {
    color: v.$deep-aquamarine;
    font-size: 2rem;
  }
  &__original-price {
    margin-left: 19px;

    font-size: 0.8125rem;
    font-family: v.$font-secundary;
    color: v.$aurometal-saurus;
  }
}
